<div class="container-fluid">
    <h2>关键技术 — {{vm.tech.name}}</h2>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary btn-sm" ng-click="vm.expandAll()">全部展开</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="vm.collapseAll()">全部收回</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <!-- colspan rowspan-->
            <thead>
            <tr>
                <th>重要性</th>
                <th>重要性说明</th>
                <th>选项</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="2">很重要</td>
                <td >bb</td>
                <td >bb</td>
            </tr>
            <tr>
                <td >bb</td>
                <td >bb</td>
            </tr>
            <tr>
                <td rowspan="2">一般</td>
                <td >bb</td>
                <td >bb</td>
            </tr>
            <tr>
                <td >bb</td>
                <td >bb</td>
            </tr><tr>
                <td rowspan="2">不重要</td>
                <td >bb</td>
                <td >bb</td>
            </tr>
            <tr>
                <td >bb</td>
                <td >bb</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

