<div class="row">
    <div class="col-xs-1"
         ng-click="vm.isPrjAction = !vm.isPrjAction">

        <h4>项目</h4>
    </div>
    <div class="horizontal-collapse col-xs-9 no-padding-left no-padding-right" uib-collapse="!vm.isPrjAction">
        <div class="well well-lg">
            项目一<br/><br/><br/><br/><br/><br/><br/>
            项目一<br/><br/><br/><br/><br/><br/><br/>
            项目一<br/><br/><br/><br/><br/><br/><br/>
            项目一<br/><br/><br/><br/><br/><br/><br/>
            项目一<br/><br/><br/><br/><br/><br/><br/>
            项目一<br/><br/><br/><br/><br/><br/><br/>
            项目一<br/><br/><br/><br/><br/><br/><br/>
            项目一<br/><br/><br/><br/><br/><br/><br/>
        </div>
    </div>

    <div class="col-xs-1"
         data-spy="affix" data-offset-top="60" data-offset-bottom="0"
         ng-click="vm.isPrjAction = !vm.isPrjAction">
    </div>
    <div class="horizontal-collapse col-xs-9" uib-collapse="!vm.isTechAction" horizontal>
        <div class="well well-lg">技术树一</div>
    </div>

    <div class="col-xs-1 ">
        <button type="button" class="btn btn-default" ng-click="vm.isKeyAction = !vm.isKeyAction">关键技术
        </button>
    </div>
    <div class="horizontal-collapse col-xs-9" uib-collapse="!vm.isKeyAction" horizontal>
        <div class="well well-lg">关键技术</div>
    </div>
</div>
