<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTrlerMgrLabel">TRL技术人员管理</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 no-padding-left">
                    <button class="btn btn-primary" ng-click="vm.addTrlerAction()" >
                        <span class="glyphicon glyphicon-plus"></span>
                        <span>新增</span>
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th>账号</th>
                    <th>姓名</th>
                    <th>所在单位</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="trler in vm.trlers track by trler.id">
                    <td>{{trler.login}}</td>
                    <td>{{trler.name}}</td>
                    <td>{{trler.branch}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="button"
                                    ng-click="vm.removeTrler(trler.login)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                data-translate="entity.action.save">Save</span>
            </button>
        </div>
</form>
