<div class="wrap flex flex-h">
    <div class="btn btn-primary" ng-click="vm.prjClick()" >
        <h4>
            项目
            <span ng-show="!vm.isPrjAction" class="glyphicon glyphicon-chevron-left"></span>
            <span ng-show="vm.isPrjAction" class="glyphicon glyphicon-chevron-right"></span>
        </h4>

    </div>
    <div class="main" ng-show="vm.isPrjAction"  ui-view="prjContent">

    </div>

    <div class="btn btn-primary" ng-click="vm.techClick()" ui-view="techContent">
        <h4>
            技术树
            <span ng-show="!vm.isTechAction" class="glyphicon glyphicon-chevron-left"></span>
            <span ng-show="vm.isTechAction" class="glyphicon glyphicon-chevron-right"></span>
        </h4>

    </div>
    <div class="main" ng-show="vm.isTechAction">
        <div class="well well-lg">技术树一</div>
    </div>

    <div class="btn btn-primary" ng-click="vm.keyClick()"  ui-view="keyContent">
        <h4>
            关键技术
            <span ng-show="!vm.isKeyAction" class="glyphicon glyphicon-chevron-left"></span>
            <span ng-show="vm.isKeyAction" class="glyphicon glyphicon-chevron-right"></span>
        </h4>
    </div>
    <div class="main" ng-show="vm.isKeyAction">
        <div class="well well-lg">关键技术一</div>
    </div>
</div>
