.myleft {
    width: 100px;
    /*position: absolute;*/
    /*float: left;*/
    margin-top: 0;
}
.horizontal-collapse {
    height: 370px;
}
.navbar-collapse.in {
    overflow-y: hidden;
}



/*.collapse {*/
    /*height: auto;*/
    /*width: auto;*/
/*}*/

/*.collapse.height {*/
    /*position: relative;*/
    /*height: 0;*/
    /*overflow: hidden;*/
    /*-webkit-transition: height 0.35s ease;*/
    /*-moz-transition: height 0.35s ease;*/
    /*-o-transition: height 0.35s ease;*/
    /*transition: height 0.35s ease;*/
/*}*/

/*.collapse.width {*/
    /*position: relative;*/
    /*width: 0;*/
    /*overflow: hidden;*/
    /*-webkit-transition: width 0.35s ease;*/
    /*-moz-transition: width 0.35s ease;*/
    /*-o-transition: width 0.35s ease;*/
    /*transition: width 0.35s ease;*/
/*}*/

/*.collapse.in.width {*/
    /*width: auto;*/
/*}*/

/*.collapse.in.height {*/
    /*height: auto;*/
/*}*/
