<!-- Nested node template -->
<script type="text/ng-template" id="techInfo_renderer.html">
    <div class="panel panel-info" style="cursor: text"  tooltip-append-to-body="true">
        <div class="panel-heading">
            {{tech.name}}
        </div>
        <div class="panel-body">
            <small ng-show="tech.creator">创建人({{tech.creator}})</small>
            <div>
                描述：{{tech.descript}}
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content tree-node-mycontent"
         ng-style="{
                'border-color': (tech.key)?'red':'inherit'
            }">
        <div data-nodrag>
            <a class="btn btn-primary btn-xs" ng-if="tech.subTechs && tech.subTechs.length > 0"
               ng-click="toggle(this)">
                <span ng-class="{
                      'glyphicon glyphicon-chevron-right': collapsed,
                      'glyphicon glyphicon-chevron-down': !collapsed
                    }">
                </span>
            </a>
            <span class="badge">{{this.depth()}}层</span>
            <!--项目名称-->
            <span style="cursor: default" popover-placement="right" tooltip-append-to-body="true"
                  uib-popover-template="'techInfo_renderer.html'"
                  uib-tooltip="{{tech.name.length<8?tech.name:tech.name.substring(0,8)+'...'}}, 点击查看详细信息">
                    {{tech.name.length<20?tech.name:tech.name.substring(0,15)+'...'}}
            </span>
        </div>
        <div data-nodrag style="width: 200px;">
            <!--TCL TRL 信息-->
            <!--研发人员如果是拥有者， 能够查看和查看详细TCL TRL信息-->
            <div style="cursor: default"
                 ng-show="tech.asParentCreator || tech.asCreator || tech.asSubCreator" has-any-authority="ROLE_USER">
                <span class="badge">{{tech.key?'关键技术':'非关键技术'}}</span>
                <span ng-show="tech.key" class="badge">{{tech.tcl?tech.tcl:'TCL无'}}</span>
                <span ng-show="tech.key" class="badge">{{tech.trl?tech.trl:'TRL无'}}</span>
            </div>
            <!--TCL TRL 信息-->
            <!--非研发人员， 能够查看和进入详细TCL TRL信息-->
            <div style="cursor: default"
                   ng-show="tech.parentTechId!=null" has-any-authority="ROLE_ADMIN,ROLE_TRL,ROLE_EVL">
                <span class="badge">{{tech.key?'关键技术':'非关键技术'}}</span>
                <span ng-show="tech.key" class="badge">{{tech.tcl?tech.tcl:'TCL无'}}</span>
                <span ng-show="tech.key" class="badge">{{tech.trl?tech.trl:'TRL无'}}</span>
            </div>
        </div>

        <!--结点操作-->
        <div data-nodrag style="width: 200px;">
            <!--<span class="data-nodrag" style="margin-left: 8px;margin-right: 8px;">|</span>-->
            <!--<span>结点操作:</span>-->
            <div ng-show="tech.asCreator && tech.parentTechId == null" has-authority="ROLE_ADMIN">
                <!--分配子结点创建人-->
                <a class="btn btn-primary btn-xs" data-nodrag
                   uib-tooltip="分配子结点创建人" ng-click="vm.openSubcreatorModal(tech, this)"
                   style="margin-right: 12px;"  tooltip-append-to-body="true">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="badge">{{tech.subCreator.length>0?tech.subCreator.length+'人':'无'}}</span>
                </a>
            </div>
            <div ng-show="tech.asCreator || tech.asSubCreator" has-authority="ROLE_USER">
                <!--分配子结点创建人-->
                <a class="btn btn-primary btn-xs" data-nodrag uib-tooltip="分配子结点创建人"
                   style="margin-right: 8px;"  tooltip-append-to-body="true"
                   ng-show="tech.asCreator" ng-click="vm.openSubcreatorModal(tech, this)">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="badge">{{tech.subCreator.length>0?tech.subCreator.length+'人':'无'}}</span>
                </a>
                <!--增加子节点-->
                <a class="btn btn-primary btn-xs" data-nodrag uib-tooltip="添加子节点"
                   style="margin-right: 8px;"  tooltip-append-to-body="true"
                   ng-show="tech.asCreator || tech.asSubCreator"
                   ng-click="vm.openTechModal(true, tech, this)">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <!--编辑本节点-->
                <a class="btn btn-primary btn-xs" data-nodrag uib-tooltip="编辑本节点"
                   style="margin-right: 8px;"  tooltip-append-to-body="true"
                   ng-show="tech.asCreator" ng-click="vm.openTechModal(false, tech, this)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <!--删除本节点-->
                <a class="btn btn-danger btn-xs" data-nodrag uib-tooltip="删除本节点"
                   style="margin-right: 8px;"  tooltip-append-to-body="true"
                   ng-show="tech.asCreator" ng-click="vm.removeTech(tech, this)">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </div>
        <!--关键性操作-->
        <div data-nodrag style="width: 180px;">
            <div ng-show="tech.asCreator || tech.asSubCreator" has-authority="ROLE_USER">
                <!--关键性操作-->
                <a class="btn btn-primary btn-xs" uib-tooltip="点击设置技术为关键或非关键" tooltip-append-to-body="true"
                   ng-show="tech.asCreator" ng-click="vm.changeKey(tech, !tech.key, this)">
                    {{tech.key?'设为关键技术':'设为非关键技术'}}
                </a>
                <!--关键技术管理-->
                <a class="btn btn-primary btn-xs" uib-tooltip="跳转到关键技术管理界面" tooltip-append-to-body="true"
                   ng-show="tech.asCreator && tech.key" ng-click="vm.jumpToKey(tech, this)">
                    关键技术<span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <ol ui-tree-nodes="" ng-model="tech.subTechs" ng-class="{hidden: collapsed}">
        <li ng-repeat="tech in tech.subTechs" ui-tree-node ng-include="'nodes_renderer.html'"></li>
    </ol>
</script>

<div class="container-fluid" ng-cloak>
    <div class="row">
        <div class="col-sm-8">
            <div>
                <button type="button" class="btn btn-primary btn-sm" ng-click="vm.expandAll()">全部展开</button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="vm.collapseAll()">全部收回</button>
            </div>
            <div class="tree-node-mycontent" style="text-align: center; margin-top: 5px;">
                <label class="label label-success" style="border-radius: 10px"><h4>技术名称</h4></label>
                <label class="label label-success" style="border-radius: 10px"><h4 style="width: 200px">基本信息</h4></label>
                <label class="label label-success" style="border-radius: 10px"><h4 style="width: 200px">技术结点操作</h4></label>
                <label class="label label-success" style="border-radius: 10px"><h4 style="width: 200px">关键技术相关操作</h4></label>
            </div>

            <div ui-tree id="tree-root" data-max-depth="4" data-drag-enabled="false">
                <ol ui-tree-nodes ng-model="vm.techs">
                    <li ng-repeat="tech in vm.techs" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                </ol>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="weld well-sm">
                <h4>操作说明：</h4>
                <p>1. XXX</p>
                <p>2. XXX</p>
            </div>

            <jhi-alert></jhi-alert>
            <div>
                <div class="info">
                    {{info}}
                </div>
                <pre class="code">
                    <p>以下为测试时显示</p>
                    <div>{{ vm.techs | json }}</div>
                </pre>
            </div>
        </div>
    </div>
</div>

