<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content">
        <a class="btn btn-success btn-xs" ng-if="tech.subTechs && tech.subTechs.length > 0" data-nodrag
           ng-click="toggle(this)"><span
            class="glyphicon"
            ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
        {{tech.name}}
        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">
            <span class="glyphicon glyphicon-remove"></span></a>
        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">
            <span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <ol ui-tree-nodes="" ng-model="tech.subTechs" ng-class="{hidden: collapsed}">
        <li ng-repeat="tech in tech.subTechs" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>

<div class="container-fluid">
    <h2>技术树(项目：{{vm.project.name}})</h2>
    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-success btn-sm" ng-click="vm.expandAll()">全部展开</button>
            <button type="button" class="btn btn-success btn-sm"  ng-click="vm.collapseAll()">全部收回</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div ui-tree id="tree-root" data-max-depth="4" data-drag-enabled="false">
                <ol ui-tree-nodes ng-model="vm.techs">
                    <li ng-repeat="tech in vm.techs" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                </ol>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="info">
                {{info}}
            </div>
            <pre class="code">{{ vm.techs | json }}</pre>
        </div>
    </div>
</div>

